@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Black+Han+Sans&family=Pontano+Sans:wght@300;600;700&family=Ramabhadra&display=swap');

.card-img-top{
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin-top: 10px;
    
}

.card-img-top:hover{
    transform: scale(1.05);
    transition: transform .2s;

}

.card-title {
    font-family: 'Alatsi', sans-serif;
    color: #565656;
    font-size: 12px;
    padding: 1;
}

.btn-primary{
    background-color: #565656;
    border: none;
}
.btn-primary:hover{
    background-color: #001a8d;
}
